body{
    background: lightgreen url('../images/cooking-wallpaper.jpg');
    background-size: cover;
}

p{
    margin-left: 200px;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 20px;
    color: darkgreen;
    font-weight: bold;
 }

select{
    margin-left: 80px;
    margin-bottom: 30px;
    background-color: lightgreen;
    font-size: 40px;
    font-family: "Gloria Hallelujah", cursive;
    color: darkgreen;
}

input{
    margin-bottom: 10px;
    margin-left: 15px;
    background-color: lightgreen;
    font-family: "Gloria Hallelujah", cursive;
    font-size: 15px;
    font-weight: bold;
    color: darkgreen;
}
/*h1 {

    font-size: 1.8em
    margin: 10px 0 5px 0;

 } */

h2{
    font-size: 50px;
    font-family: "Gloria Hallelujah", cursive;
    margin: 10px 10px 10px 10px;
    padding-bottom: 50px;
    padding-left: 450px;
    background-size: cover;
    min-height: 130px;
    color: darkgreen;
 }


h3{
    font-size: 50px;
    font-family: "Gloria Hallelujah", cursive;
    padding-left: 600px;
    background-size:cover;
    min-height: 230px;
    margin: 10px 0 5px 0;
    color: darkgreen;
}

a{
    font-family: "Gloria Hallelujah", cursive;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 20px;
}

h4{
    font-size: 50px;
    font-family: "Gloria Hallelujah", cursive;
    color: darkgreen;
}

table {
    font-family: "Gentium Book Basic";
    color: darkgreen;
    background-color: #dddddd;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}
.error {
    font-family: 'Lobster Two', cursive;
    color: darkred;
    padding-bottom: 20px;
}

tr:nth-child(even){
    background-color: #dddddd;
}

strong {
    font-weight: bolder;
 }

ul, ol {
     margin-left: 150px;
 }

header {
     padding: 120px;
     min-height: 100px;
 }
